<h1>Books</h1>
<div *ngFor="let book of books; let i = index">
  <p><b>#Book: </b>{{i + 1}}</p>
  <p><b>ISBN: </b>{{book.isbn}}</p>
  <p><b>Title: </b>{{book.title}}</p>
  <p><b>Author: </b>{{book.author.penName}}</p>
  <p><b>Genres: </b></p>
  <div *ngFor="let genre of book.genres">
    <p>{{genre.name}}</p>
  </div>
  <!--<p><b>Genres: </b>{{book.genres[0].name}}</p>-->
  <p><b>Publication date: </b>{{book.publicationDate}}</p>
</div>

<p><b>#Book: </b>ultimo</p>
<p><b>ISBN: </b>{{books[7].isbn}}</p>
<p><b>Title: </b>{{books[7].title}}</p>
<p><b>Author: </b>{{books[7].author.penName}}</p>
<p><b>Genres: </b>{{books[7].genres[0].name}}, {{books[7].genres[1].name}}</p>
<p><b>Publication date: </b>{{books[7].publicationDate}}</p>
